@mixin background-position($x,$y){
  background-position:$x $y;
  -ms-background-position-x: $x;
  -ms-background-position-y: $y;
}
@mixin font-face($file) {
	$folder=$file;
	$filepath: "../fonts/" + $folder + "/" + $file;
	@font-face {
		font-family: "#{$file}";
		src: url($filepath + ".eot");
		src: url($filepath + ".eot?#iefix") format('embedded-opentype'), url($filepath + ".woff") format('woff'), url($filepath + ".ttf") format('truetype'), url($filepath + ".svg#" + $file + "") format('svg');
	}
}
