%absolutely-centered{
  top:0;
  left:0;
  right:0;
  bottom:0;
  margin:auto;
  position: absolute;
}

.is-shown{
  display: block;
}
.is-hidden{
  display: none;
}
.is-visible{
  visibility: visible;
  opacity:1;
}
.is-invisible{
  visibility: hidden;
  opacity:0;
}

.clearfix:after,.clearfix:after{
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
%pseudo-clear{
  content:'';
  width:0px;
  height:0px;
  clear:both;
  display: block;
}
.clear{
  width:0px;
  height:0px;
  clear:both;
  display: block;
}

.noselect{
  user-select:none;
}

.align-right{
  text-align: right;
}
.align-center{
  text-align: center;
}
.align-left{
  text-align: left;
}

.animating{
  backface-visibility:hidden;
  transform:translate3d(0,0,0);
}